@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,300,500,600,800");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/6262dd5c0f0850f58798e5cb.6262dd5e3f87f50e27447f40.DtJMYXJ.hcp.png");

@tailwind base;
@tailwind components;
@tailwind utilities;

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.a-bg-logo {
  position: absolute;
  max-width: 650px;
  right: -130px;
  top: 220px;
  z-index: -1;
}

.left-bg {
  background: linear-gradient(119.95deg, #340e42 15.45%, #bf3fbf 46.46%, #ad3aad 70.26%, #340e42 103.06%);
  border-radius: 10px;
  border: 2px solid #4A1F5B;
}

.bg-second {
  background: linear-gradient(3.62deg, rgba(6, 8, 52, 0.76) -55.97%, rgba(40, 12, 56, 0.76) 114.29%);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}

#launchpub a:hover {
  color: #9b9696;
}


@media screen and (max-width:1024px) {
  .a-bg-logo {
    right: 0px;
  }

  .left-bg {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}